*{
    background-color: black;
    margin: auto;
    font-family: Rockwell;
    color: white;
}

header{
    text-shadow:
		0 0 5px rgb(255, 0, 0),
		0 0 10px rgb(255, 0, 0),
		0 0 20px rgba(255, 0, 0),
		0 0 40px rgb(255, 255, 255),
		0 0 80px rgba(255, 255, 255),
		0 0 90px rgba(255, 255, 255),
		0 0 100px rgba(255, 255, 255),
		0 0 140px rgba(255, 255, 255),
		0 0 180px rgba(255, 255, 255);
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
}

#player1{
    box-shadow: 0 0 5px blue,
    0 0 10px blue,
    0 0 20px blue,
    0 0 30px blue,
    0 0 40px rgb(0, 155, 251),
    0 0 50px rgb(0, 155, 251);
    ;
    height: 100vh;
    width: 25%;
    float: left;
    text-align: center;
    text-shadow:
		0 0 5px blue,
		0 0 10px blue,
		0 0 20px  blue,
		0 0 40px rgb(255, 255, 255),
		0 0 80px rgba(255, 255, 255),
		0 0 90px rgba(255, 255, 255);
}
.player{
    margin-top: 60px;
    text-align: center;
    height: 800px;
    width: 500px;
}

#player2{
    box-shadow: 0 0 5px red,
    0 0 10px red,
    0 0 20px red,
    0 0 30px red,
    0 0 40px orange,
    0 0 50px orange;
    ;
    text-shadow:
		0 0 5px rgb(255, 0, 0),
		0 0 10px rgb(255, 0, 0),
		0 0 20px rgba(255, 0, 0),
		0 0 40px rgb(255, 255, 255),
		0 0 80px rgba(255, 255, 255),
		0 0 90px rgba(255, 255, 255);
    height: 100vh;
    width: 25%;
    float: right;
    text-align: center;
}

.userimg{
    width: 40%;
    margin-top: 15%;
}



.name{
    font-size: 300%;
    text-align: center;
    margin-top: 10%;
}

.timep{
    width: 80%;
    height: 10vh;
    margin-top: 60px;
    font-size: 200%;
}

#time1{
    box-shadow: 0 0 5px blue,
    0 0 10px blue,
    0 0 20px blue,
    0 0 40px blue,
    0 0 80px rgb(0, 155, 251),
    0 0 90px rgb(0, 155, 251);
    ;
    color: white;
}

#time2{
    box-shadow: 0 0 5px red,
    0 0 10px red,
    0 0 20px red,
    0 0 40px red,
    0 0 80px orange,
    0 0 90px orange;
    ;
}

.wins{
    margin-top: 8%;
    width: 80%;
    height: 30vh;
    border-radius: 30px;
}
#win1{
    box-shadow: 0 0 5px blue,
    0 0 10px blue,
    0 0 20px blue,
    0 0 40px blue;
}

#win2{
    box-shadow: 0 0 5px red,
    0 0 10px red,
    0 0 20px red,
    0 0 40px red
    ;
}

#game{
    width: 40%;
    height: 100vh;
    float: left;
    margin-left: 4%;
    text-align: center;
}

#match{
    border-radius: 30px;
    color: white;
    margin-top: 30px;
    width: 35%;
    height: 5vh;
    box-shadow:
    0 0 5px blue,
    0 0 10px blue,
    0 0 20px blue,
    0 0 40px blue;
    ;
    font-size: 100%;
    text-align: center;
}

.triki{
    margin-top: 5%;
    width: 366px;
    height: 366px;
}

button{
    margin-top: 20px;
    width: 33%;
    height: 7vh;
    background-color: red;
    border-radius: 30px;
    font-size: 30px;
    
}
button:hover{
    background-color: green;
    box-shadow: 0 0 5px green,
    0 0 10px green,
    0 0 20px green,
    0 0 40px green
    ;;
}

.sec{
    width: 120px;
    height: 120px;
    color: white;
    font-size: 700%;
    text-shadow: 0 0 5px green,
    0 0 10px green,
    0 0 20px green,
    0 0 40px green
    ;;
    float: left;
    border: 1px solid white;
    box-shadow: 0 0 5px red,
    0 0 10px red,
    0 0 20px red,
    0 0 40px red
    ;
}

.sec:hover{
    box-shadow: 0 0 5px green,
    0 0 10px green,
    0 0 20px green,
    0 0 40px green
    ;
}

.winer{
    box-shadow: 0 0 5px green,
    0 0 10px orange,
    0 0 20px red,
    0 0 40px blue
    ;
    width: 40%;
    height: 7vh;
    border-radius: 20px;
    margin-top: 5%;
    font-size: 200%;
    padding-top: 3%;
}

fieldset{
    width: 40%;
    margin-top: 2%;
    box-shadow:
    0 0 5px blue,
    0 0 10px blue,
    0 0 20px blue,
    0 0 40px blue;;
    text-shadow:
    0 0 5px blue,
    0 0 10px blue;
}



